<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li style="display:none;">
                    <a href="/">
                        My Tauria
                    </a>
                </li>
                <li>
                    <a href="/lead">
                        Add New EOI
                    </a>
                </li>
                <li style="display:none;">
                    <a href="#">
                        Enrol/Re-Enrol
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; 2015 <a href="#">Tauira</a>
        </p>
    </div>
</footer>