<div class="sidebar" data-color="black" data-image="/img/sidebar-5.jpg">

  <div class="sidebar-wrapper" style="background-color: #000;">
        <div class="logo">
            <img src="/img/twoa-logo.png">
        </div>          
        <ul class="nav">
            <li style="display:none;">
                <a href="#">
                    <i class="pe-7s-graph"></i> 
                    <p>My tauira</p>
                </a>            
            </li>
            <li class="active">
                <a href="/">
                    <i class="pe-7s-user"></i> 
                    <p>ADD NEW EOI</p>
                </a>
            </li> 
            <li style="display:none;">
                <a href="#">
                    <i class="pe-7s-note2"></i> 
                    <p>Enrol/re-enrol</p>
                </a>        
            </li>
            
        </ul> 
  </div>
</div>