<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body style="background-color: #eee;">

<div class="jumbotron text-center">
  <div class="container">
    <h1>Te Kupenga</h1>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-7" style="padding-left:100px;">
        <a href="/lead" class="btn btn-success btn-fill" style="padding:5px 30px 5px 30px;">Login</a>
      </div>
    </div> 
  </div>
</div>
</body>
</html>