<!doctype html>
<html lang="en">
<head>
	<% include ../partials/header.ejs %>
</head>
<body> 

<div class="wrapper">
    <% include ../partials/nav.ejs %>
    
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">    
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Notification</a>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">    
				<div style="margin-left: 15px;">Salesforce Authentication Successfull</div>
				</br>
				<div class="form-group pull-left">
					<div class="col-sm-7">
						<a href="/" class="btn btn-success btn-fill" style="padding:5px 30px 5px 30px;">Add an EOI</a>
					</div>
				</div>                        
            </div>    
        </div>
        
        <% include ../partials/footer.ejs %>
        
    </div>   
</div>

</body>

<% include ../partials/scripts.ejs %>

</html>